@model IEnumerable<BrandModel>

@foreach (var item in Model.Where(b => b.Status == 1))
{
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title"><a asp-controller="Brand" asp-action="Index" asp-route-Slug="@item.Slug">@item.Name</a></h4>
		</div>
	</div>
}