@model Shopping_Demo.Models.ContactModel

@if (Model != null)
{
    <div style="display:flow;justify-items: center;">
        <img src="~/media/logo/@Model.LogoImage" width="300" height="300" style="border-radius: 50%;filter: brightness(0) invert(1);" />
        <p class="sidebar-brand-text" style=" color: white; font-size:28px; width:400px">
            Nền tảng thương mại điện tử được yêu thích nhất năm 2025
        </p>
    </div>
}